<div class="login-page">
  <div class="form">
    <div class="wrap errorMsg" data-ng-repeat="error in vm.Errors">
        <a href="" class="errorMsg" data-ng-click="vm.goToElement(error.id)">{{error.text}}</a>
    </div>
    <form class="register-form">
        <div class="form-group col-lg-12">
            <label for="userName" class="control-label">Name</label>
            <input type="text" id="userName" class="form-control" data-ng-model="vm.user.name" placeholder="Full Name">
        </div>
        <div class="form-group col-lg-12">
            <label for="userEmail" class="control-label">Email</label>
            <input type="email" id="userEmail" class="form-control" data-ng-model="vm.user.email" placeholder="Email">
        </div>
        <div class="form-group col-lg-12">
            <label for="phoneNumber" class="control-label">Phone Number</label>
            <input type="text" id="phoneNumber" class="form-control" data-ng-model="vm.user.phoneNumber" placeholder="Phone Number">
        </div>
        <div class="form-group col-lg-12">
            <label for="userPassword" class="control-label">Password</label>
            <input type="password" id="userPassword" class="form-control" data-ng-model="vm.user.password" placeholder="Password">
        </div>
      <button  data-ng-click="vm.registerUser()">create</button>
      <p class="message">Already registered? <a data-ng-click="vm.toggleForm()">Sign In</a></p>
    </form>
    <form class="login-form">
        <div class="wrap errorMsg" data-ng-repeat="error in vm.LoginErrors">
            <a href="" class="errorMsg" data-ng-click="vm.goToElement(error.id)">{{error.text}}</a>
        </div>
        <div class="form-group col-lg-12">
            <label for="loginEmail" class="control-label">Email</label>
            <input type="email" id="loginEmail" class="form-control" data-ng-model="vm.login.email" placeholder="Email">
        </div>
        <div class="form-group col-lg-12">
            <label for="loginPassword" class="control-label">Password</label>
            <input type="password" id="loginPassword" class="form-control" data-ng-model="vm.login.password" placeholder="Password">
        </div>
        <button  data-ng-click="vm.loginUser()">login</button>
        <p class="message">Not registered? <a data-ng-click="vm.toggleForm()">Create an account</a></p>
    </form>
  </div>
</div>